################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetExperimentation/DotNetExperimentation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.Properties.Resources.resources
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.pdb
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.Form1.resources
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.exe
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csprojResolveAssemblyReference.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csproj.GenerateResource.Cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csproj.FileListAbsolute.txt
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/CoreCompileInputs.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.Properties.Resources.resources
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.pdb
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.Form1.resources
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.exe
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csprojResolveAssemblyReference.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csproj.GenerateResource.Cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csproj.FileListAbsolute.txt
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/CoreCompileInputs.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.Properties.Resources.resources
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.pdb
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.Form1.resources
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.exe
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csprojResolveAssemblyReference.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csproj.GenerateResource.Cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/ResultsTableTransformation.csproj.FileListAbsolute.txt
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug/CoreCompileInputs.cache
/DotNetExperimentation/ResultsTableTransformation/obj/Debug
/DotNetExperimentation/DotNetExperimentation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DotNetExperimentation/DotNetExperimentation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DotNetExperimentation/DotNetExperimentation/obj/Debug/DotNetExperimentation.pdb
/DotNetExperimentation/DotNetExperimentation/obj/Debug/DotNetExperimentation.exe
/DotNetExperimentation/DotNetExperimentation/obj/Debug/DotNetExperimentation.csprojResolveAssemblyReference.cache
/DotNetExperimentation/DotNetExperimentation/obj/Debug/DotNetExperimentation.csproj.FileListAbsolute.txt
/DotNetExperimentation/DotNetExperimentation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DotNetExperimentation/DotNetExperimentation/obj/Debug/CoreCompileInputs.cache
/DotNetExperimentation/CSharpSeven/obj/Debug
/DotNetExperimentation/CSharpSeven/obj/Debug/CoreCompileInputs.cache
